{
  "openapi": "3.1.0",
  "info": {
    "title": "AT Protocol XRPC API",
    "summary": "An unofficial conversion of AT Protocol's lexicons to OpenAPI's schema format.",
    "version": "0.0.0",
    "license": {
      "name": "MIT License",
      "identifier": "MIT"
    }
  },
  "servers": [
    {
      "url": "https://api.pocketenv.io/xrpc/",
      "description": "AT Protocol PDS XRPC server"
    },
    {
      "url": "https://api.pocketenv.io/xrpc/",
      "description": "AT Protocol AppView XRPC server"
    }
  ],
  "paths": {
    "/io.pocketenv.actor.getActorSandboxes": {
      "get": {
        "tags": ["io.pocketenv.actor"],
        "summary": "Get all sandboxes for a given actor",
        "operationId": "io.pocketenv.actor.getActorSandboxes",
        "security": [
          {
            "Bearer": []
          }
        ],
        "parameters": [
          {
            "name": "did",
            "in": "query",
            "description": "The DID or handle of the actor",
            "required": true,
            "schema": {
              "type": "string",
              "description": "The DID or handle of the actor",
              "format": "at-identifier"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "The maximum number of sandboxes to return.",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 1
            }
          },
          {
            "name": "offset",
            "in": "query",
            "description": "The number of sandboxes to skip before starting to collect the result set.",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 0
            }
          },
          {
            "name": "isRunning",
            "in": "query",
            "description": "Filter sandboxes by their running status.",
            "required": false,
            "schema": {
              "type": "boolean",
              "description": "Filter sandboxes by their running status."
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "sandboxes": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/io.pocketenv.sandbox.defs.sandboxViewDetailed"
                      }
                    },
                    "total": {
                      "type": "integer",
                      "minimum": 0
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": ["error", "message"],
                  "properties": {
                    "error": {
                      "type": "string",
                      "oneOf": [
                        {
                          "const": "InvalidRequest"
                        },
                        {
                          "const": "ExpiredToken"
                        },
                        {
                          "const": "InvalidToken"
                        }
                      ]
                    },
                    "message": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": ["error", "message"],
                  "properties": {
                    "error": {
                      "const": "AuthMissing"
                    },
                    "message": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/io.pocketenv.actor.getProfile": {
      "get": {
        "tags": ["io.pocketenv.actor"],
        "summary": "Get the profile of an actor",
        "operationId": "io.pocketenv.actor.getProfile",
        "security": [
          {
            "Bearer": []
          }
        ],
        "parameters": [
          {
            "name": "did",
            "in": "query",
            "description": "The DID or handle of the actor",
            "required": false,
            "schema": {
              "type": "string",
              "description": "The DID or handle of the actor",
              "format": "at-identifier"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/io.pocketenv.actor.defs.profileViewDetailed"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": ["error", "message"],
                  "properties": {
                    "error": {
                      "type": "string",
                      "oneOf": [
                        {
                          "const": "InvalidRequest"
                        },
                        {
                          "const": "ExpiredToken"
                        },
                        {
                          "const": "InvalidToken"
                        }
                      ]
                    },
                    "message": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": ["error", "message"],
                  "properties": {
                    "error": {
                      "const": "AuthMissing"
                    },
                    "message": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/io.pocketenv.actor.getTerminalToken": {
      "get": {
        "tags": ["io.pocketenv.actor"],
        "summary": "Get a terminal token",
        "operationId": "io.pocketenv.actor.getTerminalToken",
        "security": [
          {
            "Bearer": []
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "token": {
                      "type": "string",
                      "description": "An access token that can be used to authenticate with the terminal service. This token is typically short-lived and should be used immediately to establish a connection with the terminal."
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": ["error", "message"],
                  "properties": {
                    "error": {
                      "type": "string",
                      "oneOf": [
                        {
                          "const": "InvalidRequest"
                        },
                        {
                          "const": "ExpiredToken"
                        },
                        {
                          "const": "InvalidToken"
                        }
                      ]
                    },
                    "message": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": ["error", "message"],
                  "properties": {
                    "error": {
                      "const": "AuthMissing"
                    },
                    "message": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/io.pocketenv.file.addFile": {
      "post": {
        "tags": ["io.pocketenv.file"],
        "operationId": "io.pocketenv.file.addFile",
        "security": [
          {
            "Bearer": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["file"],
                "properties": {
                  "file": {
                    "$ref": "#/components/schemas/io.pocketenv.file.defs.file"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK"
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": ["error", "message"],
                  "properties": {
                    "error": {
                      "type": "string",
                      "oneOf": [
                        {
                          "const": "InvalidRequest"
                        },
                        {
                          "const": "ExpiredToken"
                        },
                        {
                          "const": "InvalidToken"
                        }
                      ]
                    },
                    "message": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": ["error", "message"],
                  "properties": {
                    "error": {
                      "const": "AuthMissing"
                    },
                    "message": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/io.pocketenv.file.deleteFile": {
      "post": {
        "tags": ["io.pocketenv.file"],
        "operationId": "io.pocketenv.file.deleteFile",
        "security": [
          {
            "Bearer": []
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": ["error", "message"],
                  "properties": {
                    "error": {
                      "type": "string",
                      "oneOf": [
                        {
                          "const": "InvalidRequest"
                        },
                        {
                          "const": "ExpiredToken"
                        },
                        {
                          "const": "InvalidToken"
                        }
                      ]
                    },
                    "message": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": ["error", "message"],
                  "properties": {
                    "error": {
                      "const": "AuthMissing"
                    },
                    "message": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/io.pocketenv.file.getFile": {
      "get": {
        "tags": ["io.pocketenv.file"],
        "operationId": "io.pocketenv.file.getFile",
        "security": [
          {
            "Bearer": []
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "query",
            "description": "The ID of the file to retrieve.",
            "required": true,
            "schema": {
              "type": "string",
              "description": "The ID of the file to retrieve."
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "file": {
                      "$ref": "#/components/schemas/io.pocketenv.file.defs.fileView"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": ["error", "message"],
                  "properties": {
                    "error": {
                      "type": "string",
                      "oneOf": [
                        {
                          "const": "InvalidRequest"
                        },
                        {
                          "const": "ExpiredToken"
                        },
                        {
                          "const": "InvalidToken"
                        }
                      ]
                    },
                    "message": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": ["error", "message"],
                  "properties": {
                    "error": {
                      "const": "AuthMissing"
                    },
                    "message": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/io.pocketenv.file.getFiles": {
      "get": {
        "tags": ["io.pocketenv.file"],
        "operationId": "io.pocketenv.file.getFiles",
        "security": [
          {
            "Bearer": []
          }
        ],
        "parameters": [
          {
            "name": "sandboxId",
            "in": "query",
            "description": "The ID of the sandbox for which to retrieve files.",
            "required": false,
            "schema": {
              "type": "string",
              "description": "The ID of the sandbox for which to retrieve files."
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "The maximum number of files to return.",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 1
            }
          },
          {
            "name": "offset",
            "in": "query",
            "description": "The number of files to skip before starting to collect the result set.",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 0
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "files": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/io.pocketenv.file.defs.fileView"
                      }
                    },
                    "total": {
                      "type": "integer",
                      "minimum": 0
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": ["error", "message"],
                  "properties": {
                    "error": {
                      "type": "string",
                      "oneOf": [
                        {
                          "const": "InvalidRequest"
                        },
                        {
                          "const": "ExpiredToken"
                        },
                        {
                          "const": "InvalidToken"
                        }
                      ]
                    },
                    "message": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": ["error", "message"],
                  "properties": {
                    "error": {
                      "const": "AuthMissing"
                    },
                    "message": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/io.pocketenv.file.updateFile": {
      "post": {
        "tags": ["io.pocketenv.file"],
        "operationId": "io.pocketenv.file.updateFile",
        "security": [
          {
            "Bearer": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["id", "file"],
                "properties": {
                  "id": {
                    "type": "string",
                    "description": "The ID of the file to delete"
                  },
                  "file": {
                    "$ref": "#/components/schemas/io.pocketenv.file.defs.file"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK"
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": ["error", "message"],
                  "properties": {
                    "error": {
                      "type": "string",
                      "oneOf": [
                        {
                          "const": "InvalidRequest"
                        },
                        {
                          "const": "ExpiredToken"
                        },
                        {
                          "const": "InvalidToken"
                        }
                      ]
                    },
                    "message": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": ["error", "message"],
                  "properties": {
                    "error": {
                      "const": "AuthMissing"
                    },
                    "message": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/io.pocketenv.sandbox.claimSandbox": {
      "post": {
        "tags": ["io.pocketenv.sandbox"],
        "summary": "Claim a sandbox by id",
        "operationId": "io.pocketenv.sandbox.claimSandbox",
        "security": [
          {
            "Bearer": []
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/io.pocketenv.sandbox.defs.sandboxViewBasic"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": ["error", "message"],
                  "properties": {
                    "error": {
                      "type": "string",
                      "oneOf": [
                        {
                          "const": "InvalidRequest"
                        },
                        {
                          "const": "ExpiredToken"
                        },
                        {
                          "const": "InvalidToken"
                        }
                      ]
                    },
                    "message": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": ["error", "message"],
                  "properties": {
                    "error": {
                      "const": "AuthMissing"
                    },
                    "message": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/io.pocketenv.sandbox.createBackup": {
      "post": {
        "tags": ["io.pocketenv.sandbox"],
        "summary": "Create a backup of a sandbox by id",
        "operationId": "io.pocketenv.sandbox.createBackup",
        "security": [
          {
            "Bearer": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["directory"],
                "properties": {
                  "directory": {
                    "type": "string",
                    "description": "The directory to backup."
                  },
                  "description": {
                    "type": "string",
                    "description": "An optional description for the backup."
                  },
                  "ttl": {
                    "type": "integer"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK"
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": ["error", "message"],
                  "properties": {
                    "error": {
                      "type": "string",
                      "oneOf": [
                        {
                          "const": "InvalidRequest"
                        },
                        {
                          "const": "ExpiredToken"
                        },
                        {
                          "const": "InvalidToken"
                        }
                      ]
                    },
                    "message": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": ["error", "message"],
                  "properties": {
                    "error": {
                      "const": "AuthMissing"
                    },
                    "message": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/io.pocketenv.sandbox.createIntegration": {
      "post": {
        "tags": ["io.pocketenv.sandbox"],
        "summary": "Create a new integration for the sandbox.",
        "operationId": "io.pocketenv.sandbox.createIntegration",
        "security": [
          {
            "Bearer": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["id", "name"],
                "properties": {
                  "id": {
                    "type": "string",
                    "description": "The sandbox ID."
                  },
                  "name": {
                    "type": "string",
                    "description": "The name of the integration."
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/io.pocketenv.sandbox.defs.integrationView"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": ["error", "message"],
                  "properties": {
                    "error": {
                      "type": "string",
                      "oneOf": [
                        {
                          "const": "InvalidRequest"
                        },
                        {
                          "const": "ExpiredToken"
                        },
                        {
                          "const": "InvalidToken"
                        }
                      ]
                    },
                    "message": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": ["error", "message"],
                  "properties": {
                    "error": {
                      "const": "AuthMissing"
                    },
                    "message": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/io.pocketenv.sandbox.createSandbox": {
      "post": {
        "tags": ["io.pocketenv.sandbox"],
        "summary": "Create a sandbox",
        "operationId": "io.pocketenv.sandbox.createSandbox",
        "security": [
          {
            "Bearer": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["base"],
                "properties": {
                  "base": {
                    "type": "string",
                    "description": "The base sandbox URI to clone from, e.g. a template or an existing sandbox."
                  },
                  "name": {
                    "type": "string",
                    "description": "The name of the sandbox",
                    "minLength": 1
                  },
                  "description": {
                    "type": "string",
                    "description": "A description for the sandbox"
                  },
                  "provider": {
                    "type": "string",
                    "description": "The provider to create the sandbox on, e.g. 'daytona', 'vercel', 'cloudflare', etc."
                  },
                  "topics": {
                    "type": "array",
                    "items": {
                      "type": "string",
                      "maxLength": 50
                    }
                  },
                  "repo": {
                    "type": "string",
                    "description": "A git repository URL to clone into the sandbox, e.g. a GitHub/Tangled repo."
                  },
                  "vcpus": {
                    "type": "integer",
                    "minimum": 1
                  },
                  "memory": {
                    "type": "integer",
                    "minimum": 1
                  },
                  "disk": {
                    "type": "integer",
                    "minimum": 3
                  },
                  "readme": {
                    "type": "string",
                    "description": "A URI to a README for the sandbox.",
                    "format": "uri"
                  },
                  "secrets": {
                    "$ref": "#/components/schemas/io.pocketenv.sandbox.defs.secrets"
                  },
                  "envs": {
                    "$ref": "#/components/schemas/io.pocketenv.sandbox.defs.envs"
                  },
                  "keepAlive": {
                    "type": "boolean",
                    "description": "Prevent the sandbox from being automatically stop after a period of inactivity. Use with caution, as this may lead to increased costs."
                  },
                  "spriteToken": {
                    "type": "string",
                    "description": "A token (encrypted) for accessing sprite resources"
                  },
                  "redactedSpriteToken": {
                    "type": "string",
                    "description": "A redacted token for accessing sprite resources"
                  },
                  "denoDeployToken": {
                    "type": "string",
                    "description": "A token (encrypted) for accessing Deno Deploy resources"
                  },
                  "redactedDenoDeployToken": {
                    "type": "string",
                    "description": "A redacted token for accessing Deno Deploy resources"
                  },
                  "daytonaApiKey": {
                    "type": "string",
                    "description": "A token (encrypted) for accessing Daytona resources"
                  },
                  "redactedDaytonaApiKey": {
                    "type": "string",
                    "description": "A redacted token for accessing Daytona resources"
                  },
                  "daytonaOrganizationId": {
                    "type": "string",
                    "description": "The organization ID for Daytona resources"
                  },
                  "vercelApiToken": {
                    "type": "string",
                    "description": "A token (encrypted) for accessing Vercel resources"
                  },
                  "redactedVercelApiToken": {
                    "type": "string",
                    "description": "A redacted token for accessing Vercel resources"
                  },
                  "vercelProjectId": {
                    "type": "string",
                    "description": "The project ID for Vercel resources"
                  },
                  "vercelTeamId": {
                    "type": "string",
                    "description": "The team ID for Vercel resources"
                  },
                  "modalTokenId": {
                    "type": "string",
                    "description": "A token (encrypted) for accessing Modal resources"
                  },
                  "redactedModalTokenId": {
                    "type": "string",
                    "description": "A redacted token for accessing Modal resources"
                  },
                  "modalTokenSecret": {
                    "type": "string",
                    "description": "A token (encrypted) for accessing Modal resources"
                  },
                  "redactedModalTokenSecret": {
                    "type": "string",
                    "description": "A redacted token for accessing Modal resources"
                  },
                  "e2bApiKey": {
                    "type": "string",
                    "description": "An API KEY (encrypted) for accessing E2B resources"
                  },
                  "redactedE2bApiKey": {
                    "type": "string",
                    "description": "A redacted API KEY for accessing E2B resources"
                  },
                  "hopxApiKey": {
                    "type": "string",
                    "description": "An API KEY (encrypted) for accessing hopx resources"
                  },
                  "redactedHopxApiKey": {
                    "type": "string",
                    "description": "A redacted API KEY for accessing hopx resources"
                  },
                  "runloopApiKey": {
                    "type": "string",
                    "description": "An API KEY (encrypted) for accessing Runloop resources"
                  },
                  "redactedRunloopApiKey": {
                    "type": "string",
                    "description": "A redacted API KEY for accessing Runloop resources"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/io.pocketenv.sandbox.defs.sandboxViewBasic"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": ["error", "message"],
                  "properties": {
                    "error": {
                      "type": "string",
                      "oneOf": [
                        {
                          "const": "InvalidRequest"
                        },
                        {
                          "const": "ExpiredToken"
                        },
                        {
                          "const": "InvalidToken"
                        }
                      ]
                    },
                    "message": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": ["error", "message"],
                  "properties": {
                    "error": {
                      "const": "AuthMissing"
                    },
                    "message": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/io.pocketenv.sandbox.deleteSandbox": {
      "post": {
        "tags": ["io.pocketenv.sandbox"],
        "summary": "Delete a sandbox by uri",
        "operationId": "io.pocketenv.sandbox.deleteSandbox",
        "security": [
          {
            "Bearer": []
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/io.pocketenv.sandbox.defs.sandboxViewBasic"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": ["error", "message"],
                  "properties": {
                    "error": {
                      "type": "string",
                      "oneOf": [
                        {
                          "const": "InvalidRequest"
                        },
                        {
                          "const": "ExpiredToken"
                        },
                        {
                          "const": "InvalidToken"
                        }
                      ]
                    },
                    "message": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": ["error", "message"],
                  "properties": {
                    "error": {
                      "const": "AuthMissing"
                    },
                    "message": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/io.pocketenv.sandbox.exec": {
      "post": {
        "tags": ["io.pocketenv.sandbox"],
        "summary": "Execute a command in a sandbox.",
        "operationId": "io.pocketenv.sandbox.exec",
        "security": [
          {
            "Bearer": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["command"],
                "properties": {
                  "command": {
                    "type": "string",
                    "description": "The command to execute in the sandbox."
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "stdout": {
                      "type": "string",
                      "description": "The output of the executed command."
                    },
                    "stderr": {
                      "type": "string",
                      "description": "The error output of the executed command, if any."
                    },
                    "exitCode": {
                      "type": "integer"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": ["error", "message"],
                  "properties": {
                    "error": {
                      "type": "string",
                      "oneOf": [
                        {
                          "const": "InvalidRequest"
                        },
                        {
                          "const": "ExpiredToken"
                        },
                        {
                          "const": "InvalidToken"
                        }
                      ]
                    },
                    "message": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": ["error", "message"],
                  "properties": {
                    "error": {
                      "const": "AuthMissing"
                    },
                    "message": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/io.pocketenv.sandbox.exposePort": {
      "post": {
        "tags": ["io.pocketenv.sandbox"],
        "summary": "Expose a port for a sandbox.",
        "operationId": "io.pocketenv.sandbox.exposePort",
        "security": [
          {
            "Bearer": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["port"],
                "properties": {
                  "port": {
                    "type": "integer",
                    "minimum": 1025,
                    "maximum": 65535
                  },
                  "description": {
                    "type": "string",
                    "description": "A description of the port."
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "previewUrl": {
                      "type": "string",
                      "description": "The preview URL for the exposed port."
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": ["error", "message"],
                  "properties": {
                    "error": {
                      "type": "string",
                      "oneOf": [
                        {
                          "const": "InvalidRequest"
                        },
                        {
                          "const": "ExpiredToken"
                        },
                        {
                          "const": "InvalidToken"
                        }
                      ]
                    },
                    "message": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": ["error", "message"],
                  "properties": {
                    "error": {
                      "const": "AuthMissing"
                    },
                    "message": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/io.pocketenv.sandbox.exposeVscode": {
      "post": {
        "tags": ["io.pocketenv.sandbox"],
        "summary": "Expose an instance of VS Code for a sandbox. This allows users to access a web-based version of VS Code that is connected to their sandbox environment, enabling them to edit code, manage files, and perform other development tasks directly from their browser.",
        "operationId": "io.pocketenv.sandbox.exposeVscode",
        "security": [
          {
            "Bearer": []
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "previewUrl": {
                      "type": "string",
                      "description": "The preview URL for the exposed port."
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": ["error", "message"],
                  "properties": {
                    "error": {
                      "type": "string",
                      "oneOf": [
                        {
                          "const": "InvalidRequest"
                        },
                        {
                          "const": "ExpiredToken"
                        },
                        {
                          "const": "InvalidToken"
                        }
                      ]
                    },
                    "message": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": ["error", "message"],
                  "properties": {
                    "error": {
                      "const": "AuthMissing"
                    },
                    "message": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/io.pocketenv.sandbox.getBackups": {
      "get": {
        "tags": ["io.pocketenv.sandbox"],
        "summary": "Get the list of backups for a sandbox.",
        "operationId": "io.pocketenv.sandbox.getBackups",
        "security": [
          {
            "Bearer": []
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "query",
            "description": "The sandbox ID.",
            "required": true,
            "schema": {
              "type": "string",
              "description": "The sandbox ID."
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "backups": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/io.pocketenv.port.defs.backupViewBasic"
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": ["error", "message"],
                  "properties": {
                    "error": {
                      "type": "string",
                      "oneOf": [
                        {
                          "const": "InvalidRequest"
                        },
                        {
                          "const": "ExpiredToken"
                        },
                        {
                          "const": "InvalidToken"
                        }
                      ]
                    },
                    "message": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": ["error", "message"],
                  "properties": {
                    "error": {
                      "const": "AuthMissing"
                    },
                    "message": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/io.pocketenv.sandbox.getExposedPorts": {
      "get": {
        "tags": ["io.pocketenv.sandbox"],
        "summary": "Get the list of exposed ports for a sandbox.",
        "operationId": "io.pocketenv.sandbox.getExposedPorts",
        "security": [
          {
            "Bearer": []
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "query",
            "description": "The sandbox ID.",
            "required": true,
            "schema": {
              "type": "string",
              "description": "The sandbox ID."
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "ports": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/io.pocketenv.port.defs.portView"
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": ["error", "message"],
                  "properties": {
                    "error": {
                      "type": "string",
                      "oneOf": [
                        {
                          "const": "InvalidRequest"
                        },
                        {
                          "const": "ExpiredToken"
                        },
                        {
                          "const": "InvalidToken"
                        }
                      ]
                    },
                    "message": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": ["error", "message"],
                  "properties": {
                    "error": {
                      "const": "AuthMissing"
                    },
                    "message": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/io.pocketenv.sandbox.getIntegrations": {
      "get": {
        "tags": ["io.pocketenv.sandbox"],
        "summary": "Get the integrations for a sandbox.",
        "operationId": "io.pocketenv.sandbox.getIntegrations",
        "security": [
          {
            "Bearer": []
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "query",
            "description": "The sandbox ID.",
            "required": true,
            "schema": {
              "type": "string",
              "description": "The sandbox ID."
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/io.pocketenv.sandbox.defs.integrationsView"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": ["error", "message"],
                  "properties": {
                    "error": {
                      "type": "string",
                      "oneOf": [
                        {
                          "const": "InvalidRequest"
                        },
                        {
                          "const": "ExpiredToken"
                        },
                        {
                          "const": "InvalidToken"
                        }
                      ]
                    },
                    "message": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": ["error", "message"],
                  "properties": {
                    "error": {
                      "const": "AuthMissing"
                    },
                    "message": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/io.pocketenv.sandbox.getPreferences": {
      "get": {
        "tags": ["io.pocketenv.sandbox"],
        "summary": "Get sandbox preferences",
        "operationId": "io.pocketenv.sandbox.getPreferences",
        "security": [
          {
            "Bearer": []
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "query",
            "description": "The sandbox ID or URI to retrieve",
            "required": true,
            "schema": {
              "type": "string",
              "description": "The sandbox ID or URI to retrieve"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/io.pocketenv.sandbox.defs.preferences"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": ["error", "message"],
                  "properties": {
                    "error": {
                      "type": "string",
                      "oneOf": [
                        {
                          "const": "InvalidRequest"
                        },
                        {
                          "const": "ExpiredToken"
                        },
                        {
                          "const": "InvalidToken"
                        }
                      ]
                    },
                    "message": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": ["error", "message"],
                  "properties": {
                    "error": {
                      "const": "AuthMissing"
                    },
                    "message": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/io.pocketenv.sandbox.getSandbox": {
      "get": {
        "tags": ["io.pocketenv.sandbox"],
        "summary": "Get a sandbox by ID or URI",
        "operationId": "io.pocketenv.sandbox.getSandbox",
        "security": [
          {
            "Bearer": []
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "query",
            "description": "The sandbox ID or URI to retrieve",
            "required": true,
            "schema": {
              "type": "string",
              "description": "The sandbox ID or URI to retrieve"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/io.pocketenv.sandbox.defs.sandboxViewBasic"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": ["error", "message"],
                  "properties": {
                    "error": {
                      "type": "string",
                      "oneOf": [
                        {
                          "const": "InvalidRequest"
                        },
                        {
                          "const": "ExpiredToken"
                        },
                        {
                          "const": "InvalidToken"
                        }
                      ]
                    },
                    "message": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": ["error", "message"],
                  "properties": {
                    "error": {
                      "const": "AuthMissing"
                    },
                    "message": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/io.pocketenv.sandbox.getSandboxes": {
      "get": {
        "tags": ["io.pocketenv.sandbox"],
        "summary": "Get all sandboxes",
        "operationId": "io.pocketenv.sandbox.getSandboxes",
        "security": [
          {
            "Bearer": []
          }
        ],
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "description": "The maximum number of sandboxes to return.",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 1
            }
          },
          {
            "name": "offset",
            "in": "query",
            "description": "The number of sandboxes to skip before starting to collect the result set.",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 0
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "sandboxes": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/io.pocketenv.sandbox.defs.sandboxViewBasic"
                      }
                    },
                    "total": {
                      "type": "integer",
                      "minimum": 0
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": ["error", "message"],
                  "properties": {
                    "error": {
                      "type": "string",
                      "oneOf": [
                        {
                          "const": "InvalidRequest"
                        },
                        {
                          "const": "ExpiredToken"
                        },
                        {
                          "const": "InvalidToken"
                        }
                      ]
                    },
                    "message": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": ["error", "message"],
                  "properties": {
                    "error": {
                      "const": "AuthMissing"
                    },
                    "message": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/io.pocketenv.sandbox.getSshKeys": {
      "get": {
        "tags": ["io.pocketenv.sandbox"],
        "summary": "Get the SSH keys for a sandbox.",
        "operationId": "io.pocketenv.sandbox.getSshKeys",
        "security": [
          {
            "Bearer": []
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "query",
            "description": "The sandbox ID.",
            "required": true,
            "schema": {
              "type": "string",
              "description": "The sandbox ID."
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/io.pocketenv.sandbox.defs.sshKeysView"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": ["error", "message"],
                  "properties": {
                    "error": {
                      "type": "string",
                      "oneOf": [
                        {
                          "const": "InvalidRequest"
                        },
                        {
                          "const": "ExpiredToken"
                        },
                        {
                          "const": "InvalidToken"
                        }
                      ]
                    },
                    "message": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": ["error", "message"],
                  "properties": {
                    "error": {
                      "const": "AuthMissing"
                    },
                    "message": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/io.pocketenv.sandbox.getTailscaleAuthKey": {
      "get": {
        "tags": ["io.pocketenv.sandbox"],
        "summary": "Get the Tailscale token for a sandbox.",
        "operationId": "io.pocketenv.sandbox.getTailscaleAuthKey",
        "security": [
          {
            "Bearer": []
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "query",
            "description": "The sandbox ID.",
            "required": true,
            "schema": {
              "type": "string",
              "description": "The sandbox ID."
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/io.pocketenv.sandbox.defs.tailscaleAuthKeyView"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": ["error", "message"],
                  "properties": {
                    "error": {
                      "type": "string",
                      "oneOf": [
                        {
                          "const": "InvalidRequest"
                        },
                        {
                          "const": "ExpiredToken"
                        },
                        {
                          "const": "InvalidToken"
                        }
                      ]
                    },
                    "message": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": ["error", "message"],
                  "properties": {
                    "error": {
                      "const": "AuthMissing"
                    },
                    "message": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/io.pocketenv.sandbox.getTailscaleToken": {
      "get": {
        "tags": ["io.pocketenv.sandbox"],
        "summary": "Get the Tailscale token for a sandbox.",
        "operationId": "io.pocketenv.sandbox.getTailscaleToken",
        "security": [
          {
            "Bearer": []
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "query",
            "description": "The sandbox ID.",
            "required": true,
            "schema": {
              "type": "string",
              "description": "The sandbox ID."
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/io.pocketenv.sandbox.defs.tailscaleTokenView"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": ["error", "message"],
                  "properties": {
                    "error": {
                      "type": "string",
                      "oneOf": [
                        {
                          "const": "InvalidRequest"
                        },
                        {
                          "const": "ExpiredToken"
                        },
                        {
                          "const": "InvalidToken"
                        }
                      ]
                    },
                    "message": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": ["error", "message"],
                  "properties": {
                    "error": {
                      "const": "AuthMissing"
                    },
                    "message": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/io.pocketenv.sandbox.pullDirectory": {
      "post": {
        "tags": ["io.pocketenv.sandbox"],
        "summary": "Pull a directory from the cp storage into a Sandbox.",
        "operationId": "io.pocketenv.sandbox.pullDirectory",
        "security": [
          {
            "Bearer": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["sandboxId", "directoryPath"],
                "properties": {
                  "sandboxId": {
                    "type": "string",
                    "description": "ID of the Sandbox into which to pull the directory."
                  },
                  "uuid": {
                    "type": "string",
                    "description": "ID of the directory in cp storage to pull into the Sandbox."
                  },
                  "directoryPath": {
                    "type": "string",
                    "description": "Destination path within the Sandbox where the directory should be pulled. This should be an absolute path."
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK"
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": ["error", "message"],
                  "properties": {
                    "error": {
                      "type": "string",
                      "oneOf": [
                        {
                          "const": "InvalidRequest"
                        },
                        {
                          "const": "ExpiredToken"
                        },
                        {
                          "const": "InvalidToken"
                        }
                      ]
                    },
                    "message": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": ["error", "message"],
                  "properties": {
                    "error": {
                      "const": "AuthMissing"
                    },
                    "message": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/io.pocketenv.sandbox.pushDirectory": {
      "post": {
        "tags": ["io.pocketenv.sandbox"],
        "summary": "Push a directory from a Sandbox to the cp Storage.",
        "operationId": "io.pocketenv.sandbox.pushDirectory",
        "security": [
          {
            "Bearer": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["sandboxId", "directoryPath"],
                "properties": {
                  "sandboxId": {
                    "type": "string",
                    "description": "ID of the source Sandbox to read the directory from."
                  },
                  "directoryPath": {
                    "type": "string",
                    "description": "Path of the directory within the Sandbox to push to cp storage. This should be an absolute path."
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "uuid": {
                      "type": "string",
                      "description": "The UUID of the pushed directory in cp storage. This can be used to reference the directory in other API calls, such as creating a file from the directory or sharing the directory with another sandbox."
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": ["error", "message"],
                  "properties": {
                    "error": {
                      "type": "string",
                      "oneOf": [
                        {
                          "const": "InvalidRequest"
                        },
                        {
                          "const": "ExpiredToken"
                        },
                        {
                          "const": "InvalidToken"
                        }
                      ]
                    },
                    "message": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": ["error", "message"],
                  "properties": {
                    "error": {
                      "const": "AuthMissing"
                    },
                    "message": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/io.pocketenv.sandbox.putPreferences": {
      "post": {
        "tags": ["io.pocketenv.sandbox"],
        "summary": "Update sandbox preferences.",
        "operationId": "io.pocketenv.sandbox.putPreferences",
        "security": [
          {
            "Bearer": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["sandboxId", "preferences"],
                "properties": {
                  "sandboxId": {
                    "type": "string",
                    "description": "The sandbox ID or URI"
                  },
                  "preferences": {
                    "$ref": "#/components/schemas/io.pocketenv.sandbox.defs.preferences"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK"
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": ["error", "message"],
                  "properties": {
                    "error": {
                      "type": "string",
                      "oneOf": [
                        {
                          "const": "InvalidRequest"
                        },
                        {
                          "const": "ExpiredToken"
                        },
                        {
                          "const": "InvalidToken"
                        }
                      ]
                    },
                    "message": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": ["error", "message"],
                  "properties": {
                    "error": {
                      "const": "AuthMissing"
                    },
                    "message": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/io.pocketenv.sandbox.putSshKeys": {
      "post": {
        "tags": ["io.pocketenv.sandbox"],
        "summary": "Add or update SSH keys for a sandbox.",
        "operationId": "io.pocketenv.sandbox.putSshKeys",
        "security": [
          {
            "Bearer": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["id", "privateKey", "publicKey"],
                "properties": {
                  "id": {
                    "type": "string",
                    "description": "The sandbox ID."
                  },
                  "privateKey": {
                    "type": "string",
                    "description": "The private SSH key (encrypted)"
                  },
                  "publicKey": {
                    "type": "string",
                    "description": "The public SSH key."
                  },
                  "redacted": {
                    "type": "string",
                    "description": "The redacted SSH key."
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/io.pocketenv.sandbox.defs.sshKeysView"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": ["error", "message"],
                  "properties": {
                    "error": {
                      "type": "string",
                      "oneOf": [
                        {
                          "const": "InvalidRequest"
                        },
                        {
                          "const": "ExpiredToken"
                        },
                        {
                          "const": "InvalidToken"
                        }
                      ]
                    },
                    "message": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": ["error", "message"],
                  "properties": {
                    "error": {
                      "const": "AuthMissing"
                    },
                    "message": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/io.pocketenv.sandbox.putTailscaleAuthKey": {
      "post": {
        "tags": ["io.pocketenv.sandbox"],
        "summary": "Store a Tailscale Auth Key for the sandbox. This Auth Key will be used to authenticate with the Tailscale API and manage the sandbox's Tailscale node.",
        "operationId": "io.pocketenv.sandbox.putTailscaleAuthKey",
        "security": [
          {
            "Bearer": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["id", "authKey"],
                "properties": {
                  "id": {
                    "type": "string",
                    "description": "The sandbox ID."
                  },
                  "authKey": {
                    "type": "string",
                    "description": "The Tailscale Auth Key (encrypted) to store for the sandbox."
                  },
                  "redacted": {
                    "type": "string",
                    "description": "The redacted SSH key."
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/io.pocketenv.sandbox.defs.tailscaleAuthKeyView"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": ["error", "message"],
                  "properties": {
                    "error": {
                      "type": "string",
                      "oneOf": [
                        {
                          "const": "InvalidRequest"
                        },
                        {
                          "const": "ExpiredToken"
                        },
                        {
                          "const": "InvalidToken"
                        }
                      ]
                    },
                    "message": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": ["error", "message"],
                  "properties": {
                    "error": {
                      "const": "AuthMissing"
                    },
                    "message": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/io.pocketenv.sandbox.putTailscaleToken": {
      "post": {
        "tags": ["io.pocketenv.sandbox"],
        "summary": "Store a Tailscale token for the sandbox. This token will be used to authenticate with the Tailscale API and manage the sandbox's Tailscale node.",
        "operationId": "io.pocketenv.sandbox.putTailscaleToken",
        "security": [
          {
            "Bearer": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["id", "token"],
                "properties": {
                  "id": {
                    "type": "string",
                    "description": "The sandbox ID."
                  },
                  "token": {
                    "type": "string",
                    "description": "The Tailscale token (encrypted) to store for the sandbox."
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/io.pocketenv.sandbox.defs.tailscaleTokenView"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": ["error", "message"],
                  "properties": {
                    "error": {
                      "type": "string",
                      "oneOf": [
                        {
                          "const": "InvalidRequest"
                        },
                        {
                          "const": "ExpiredToken"
                        },
                        {
                          "const": "InvalidToken"
                        }
                      ]
                    },
                    "message": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": ["error", "message"],
                  "properties": {
                    "error": {
                      "const": "AuthMissing"
                    },
                    "message": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/io.pocketenv.sandbox.restoreBackup": {
      "post": {
        "tags": ["io.pocketenv.sandbox"],
        "summary": "Restore a backup of a sandbox",
        "operationId": "io.pocketenv.sandbox.restoreBackup",
        "security": [
          {
            "Bearer": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["backupId"],
                "properties": {
                  "backupId": {
                    "type": "string",
                    "description": "The backup ID to restore."
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK"
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": ["error", "message"],
                  "properties": {
                    "error": {
                      "type": "string",
                      "oneOf": [
                        {
                          "const": "InvalidRequest"
                        },
                        {
                          "const": "ExpiredToken"
                        },
                        {
                          "const": "InvalidToken"
                        }
                      ]
                    },
                    "message": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": ["error", "message"],
                  "properties": {
                    "error": {
                      "const": "AuthMissing"
                    },
                    "message": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/io.pocketenv.sandbox.startSandbox": {
      "post": {
        "tags": ["io.pocketenv.sandbox"],
        "summary": "Start a sandbox",
        "operationId": "io.pocketenv.sandbox.startSandbox",
        "security": [
          {
            "Bearer": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "repo": {
                    "type": "string",
                    "description": "The git repository URL to clone into the sandbox before starting it. Optional."
                  },
                  "keepAlive": {
                    "type": "boolean",
                    "description": "Prevent the sandbox from being automatically stop after a period of inactivity. Use with caution, as this may lead to increased costs."
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/io.pocketenv.sandbox.defs.sandboxViewBasic"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": ["error", "message"],
                  "properties": {
                    "error": {
                      "type": "string",
                      "oneOf": [
                        {
                          "const": "InvalidRequest"
                        },
                        {
                          "const": "ExpiredToken"
                        },
                        {
                          "const": "InvalidToken"
                        }
                      ]
                    },
                    "message": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": ["error", "message"],
                  "properties": {
                    "error": {
                      "const": "AuthMissing"
                    },
                    "message": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/io.pocketenv.sandbox.stopSandbox": {
      "post": {
        "tags": ["io.pocketenv.sandbox"],
        "summary": "Stop a sandbox",
        "operationId": "io.pocketenv.sandbox.stopSandbox",
        "security": [
          {
            "Bearer": []
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/io.pocketenv.sandbox.defs.sandboxViewBasic"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": ["error", "message"],
                  "properties": {
                    "error": {
                      "type": "string",
                      "oneOf": [
                        {
                          "const": "InvalidRequest"
                        },
                        {
                          "const": "ExpiredToken"
                        },
                        {
                          "const": "InvalidToken"
                        }
                      ]
                    },
                    "message": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": ["error", "message"],
                  "properties": {
                    "error": {
                      "const": "AuthMissing"
                    },
                    "message": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/io.pocketenv.sandbox.unexposePort": {
      "post": {
        "tags": ["io.pocketenv.sandbox"],
        "summary": "Unexpose a port for a sandbox.",
        "operationId": "io.pocketenv.sandbox.unexposePort",
        "security": [
          {
            "Bearer": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["port"],
                "properties": {
                  "port": {
                    "type": "integer",
                    "minimum": 1024,
                    "maximum": 65535
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK"
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": ["error", "message"],
                  "properties": {
                    "error": {
                      "type": "string",
                      "oneOf": [
                        {
                          "const": "InvalidRequest"
                        },
                        {
                          "const": "ExpiredToken"
                        },
                        {
                          "const": "InvalidToken"
                        }
                      ]
                    },
                    "message": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": ["error", "message"],
                  "properties": {
                    "error": {
                      "const": "AuthMissing"
                    },
                    "message": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/io.pocketenv.sandbox.updateSandboxSettings": {
      "post": {
        "tags": ["io.pocketenv.sandbox"],
        "summary": "Update sandbox settings",
        "operationId": "io.pocketenv.sandbox.updateSandboxSettings",
        "security": [
          {
            "Bearer": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string",
                    "description": "The name of the sandbox",
                    "minLength": 1
                  },
                  "description": {
                    "type": "string",
                    "description": "A description for the sandbox"
                  },
                  "topics": {
                    "type": "array",
                    "items": {
                      "type": "string",
                      "maxLength": 50
                    }
                  },
                  "repo": {
                    "type": "string",
                    "description": "A git repository URL to clone into the sandbox, e.g. a GitHub/Tangled repo.",
                    "format": "uri"
                  },
                  "vcpus": {
                    "type": "integer",
                    "minimum": 1
                  },
                  "memory": {
                    "type": "integer",
                    "minimum": 1
                  },
                  "disk": {
                    "type": "integer",
                    "minimum": 3
                  },
                  "readme": {
                    "type": "string",
                    "description": "A URI to a README for the sandbox.",
                    "format": "uri"
                  },
                  "secrets": {
                    "$ref": "#/components/schemas/io.pocketenv.secret.defs.secrets"
                  },
                  "variables": {
                    "$ref": "#/components/schemas/io.pocketenv.variable.defs.variables"
                  },
                  "files": {
                    "$ref": "#/components/schemas/io.pocketenv.file.defs.file"
[...]
